.room-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.toolbar-wrapper {
  background-color: $main-color-dark;
}

.message-list-wrapper {
  flex: 1;
  margin-top: 40px;
  padding: 10px 0;
  overflow-y: scroll;
}

.message-input-wrapper {
  width: 100%;
  background-color: $main-color-dark;
  box-shadow: 0 -1px 21px rgba(255, 255, 255, 0.1);
  padding: .8em;
  fieldset {
    padding-top: 0;
    margin-bottom: 0;
    textarea {
      max-height: 100px;
      background: #fff;
      margin: .1em;
      border-radius: 2em;
      height: 1.5em;
      width: 100%;
    }
    > div {
      display: block;
      label {
        display: block !important;
        position: relative;
      }
    }
  }
}



button {
  height: inherit;
  // > .md-ripple {
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
}

.connection-bar-title {
  flex: 1;
  font-size: 1em;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

fieldset {
  border: none;
  height: 50px;
  label {
    background: none;
    border-radius: 2em;
    display: inline-block;
    padding: .65em;
    width: 40%;
    &:hover{
    }
  }
  label[for=feedback-like] {
    background: $chat-color-positive;
    color: #fff;
    margin-right: 1em;
  }
  label[for=feedback-dislike]{
    background: $chat-color-negative;
  }

  input[type="radio"]{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  input[type="radio"]:checked+label[for=feedback-like] {
    background: #292771;
    font-weight: 800;
  }
  input[type="radio"]:checked+label[for=feedback-dislike] {
    background: #e6e6e6;
    font-weight: 800;
  }
}

.connection-status {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  img {
    height: 20px;
    width: 20px;
    margin: 0 10px;
  }
}