.join-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  width: 100%;
  height: calc(100% - 150px);
  fieldset {
    border: 0;
    margin: 0 0 .8em;
  }
  label,
  input,
  button {
    display: block;
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
  }
  label {
    text-align: left;
  }
  input {
    border: 1px solid #fff;
    border-radius: 2em;
    padding: .25em .75em .35em;
  }
  .btn-primary {
    background-color: $main-color-dark;
    border: 1px solid $main-color-dark;
    border-radius: 2em;
    color: #fff;
    padding: .4em;
  }
}