@mixin message {
  max-width: 60%;
  border-radius: 2em;
  padding: .5em 0.9em;
  word-break: break-word;
  text-align: left;
}

.msg-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message-item {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  padding: .8em;
  align-items: flex-end;

  &.msg-good {
    flex-direction: row;
    p {
      @include message;
      background-color: $chat-color-positive;
      color: #fff;
    }
  }

  &.msg-bad {
    flex-direction: row-reverse;
    p {
      @include message;
      background-color: $chat-color-negative;
      color: #000;
    }
  }
  span {
    color: rgba(255,255,255,.4);
    font-size: 0.8em;
  }
}