  .dialog-content-wrapper {
    padding: 0 30px;
  }
  .button-wrapper {
    position: absolute;
    right: 20px;
    bottom: 30px;
  }
  .md-dialog {
    width: 300px;
    height: 500px;
    background: #ffdddd;
  }